<html>
    <head>
        <link rel="stylesheet" href="/templates/pages/legistration/legistration.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <div class="section">
                <main class="intro-wrapper">
                    <h2 class="title">Learning Disabilities</h2>
                    <h1 class="title-sub">Legislation</h1>
                    <p class="txt1">
                        People with learning difficulties have the same rights as all other people; these rights are
                         detailed within the Human Rights Act 1998.
                    </p>
                    <p class="txt2">
                        According to the Equality Act 2010, a person is disabled if a physical or mental impairment 
                        has a substantial and long-term negative effect on their ability to carry out normal daily activities. 
                        This definition will apply to nearly all of those suffering from a learning disability. The Equality 
                        Act extends certain rights to those recognised as suffering from a disability including: 
                    </p>
                    <ul>
                        <li class="list-el">Employment rights: It is against the law for employers to discriminate against a 
                            person because of a disability. All employers must make reasonable adjustments so those with 
                            disabilities are not disadvantaged.</li>
                        <li class="list-el">Education: It is unlawful for education providers to treat disabled students 
                            unfavourably. This may be due to direct or indirect discrimination or forms of harassment 
                            or victimisation. As with employers, education providers must make reasonable adjustments 
                            to ensure that disabled students are not discriminated against. </li>
                        <li class="list-el">
                            Police: A person with a learning disability should only be interviewed when a responsible 
                            person is present. The responsible person, or ‘appropriate adult’, should not work for the 
                            police and should have experience of working with people with learning difficulties. The 
                            only exception to this is when a delay would result in harm to people, property or evidence. 
                            Consent and capacity Adults with a learning disability have the same legal rights and freedoms 
                            as anyone else.
                        </li>
                    </ul>
                    <p class="txt3">
                        Having a learning difficulty does not automatically mean a person lacks mental capacity; in fact, 
                        the majority will have full capacity. As always, you must assess your patient as the individual 
                        they are and have no pre-conceived ideas as to their potential mental ability until you have completed 
                        a formal and structured assessment. 
                    </p>
                </main>
                <div class="intro-img"></div>
            </div>
            
            <footer class="footer">
                <p class="page-num">7/13</p>
                <div class="footer-btns" id="footer-btns">
                    <a class="back-btn" href="/templates/pages/treatment/treatment.html" onclick="route()">back</a>
                    <a class="next-btn" href="/templates/pages/harm/harm.html" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <scripts src="/templates/index.js"></scripts>
    </body>
</html>