<html>
    <head>
        <link rel="stylesheet" href="intro.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <div class="section">
                <main class="intro-wrapper">
                    <h2 class="title">Learning Disabilities</h2>
                    <h1 class="title-sub">Introduction</h1>
                    <p class="txt1">
                        Having a learning disability means that people find it harder to learn certain life skills. The
    problems experienced vary from person to person, but may include aspects such as learning
    new things, communication, managing money, reading, writing, or personal care. Some
    people are born with a disability, whereas others may develop one as a result of an accident
    or illness in childhood.
                    </p>
                    <p class="txt2">
                        Types of learning disabilities differ hugely. Someone with mild disabilities may be able to live
    independently with minimal support, whereas someone with severe and profound
    disabilities may require 24 hour care and help with performing most daily living skills.
                    </p>
                    <p class="txt3">
                        A learning disability is defined by the Department of Health as a “significant reduced ability
    to understand new or complex information, to learn new skills (impaired intelligence), with
    a reduced ability to cope independently (impaired social functioning), which started before
    adulthood”.
                    </p>
                    <p class="txt4">
                        Sometimes, the term &#39;Global Developmental Delay&#39; (GDD) is used to describe a learning
    disability. GDD describes a condition that occurs between birth and the age of 18 which
    prevents a child from reaching key milestones of development like learning to
    communicate, processing information, remembering things and organising their thoughts.
                    </p>
                    
                </main>
                <div class="intro-img"></div>
            </div>
            
            <footer class="footer">
                <p class="page-num">1/13</p>
                <div class="footer-btns" id="footer-btns">
                    <a class="back-btn" href="/templates/index.html" onclick="route()">back</a>
                    <a class="next-btn" href="/templates/pages/understanding/page1.html" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <script src="/templates/index.js"></script>
    </body>
</html>