<html>
    <head>
        <link rel="stylesheet" href="/templates/pages/common/common.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <main class="section">
                <h1>Common types of learning disability</h1>
                <div class="chart">
                    <img class="chart-img" src="/templates/images/chart.jpg"/>
                </div>
            </main>
            <footer class="footer">
                <p class="page-num">3/13</p>
                <div class="footer-btns" id="footer-btns">
                    <a class="back-btn" href="/templates/pages/understanding/page1.html" onclick="route()">back</a>
                    <a class="next-btn" href="/templates/pages/causes/causes.html" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <scripts src="/templates/index.js"></scripts>
    </body>
</html>