<html>
    <head>
        <link rel="stylesheet" href="/templates/pages/causes/causes.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <div class="section">
                <main class="intro-wrapper">
                    <h2 class="title">Learning Disabilities</h2>
                    <h1 class="title-sub">Causes</h1>
                    <p class="txt1">
                        A learning disability happens when a person's brain development is affected, either before they are 
                        born, during their birth or in early childhood. 
                    </p>
                    <p class="txt2">
                        Learning disabilities can be caused by any one of a variety of factors, or by a combination. 
                        Sometimes the specific cause is not known. Possible causes include the following:
                    </p>
                    <ul>
                        <li class="list-el">An inherited condition, meaning that certain genes passed from the parents 
                            affected the brain development, for example Fragile X.</li>
                        <li class="list-el">Chromosome abnormalities such as Down’s syndrome or Turner syndrome.</li>
                        <li class="list-el">Complications during birth resulting in a lack of oxygen to the brain.</li>
                        <li class="list-el">A very premature birth.</li>
                        <li class="list-el">Mother’s illness during pregnancy.</li>
                        <li class="list-el">The mother drinking during pregnancy, for example Foetal Alcohol Syndrome.</li>
                        <li class="list-el">A debilitating illness or injury in early childhood affecting brain development, 
                            for example a road traffic accident or child abuse.</li>
                        <li class="list-el">Contact with damaging material (like radiation).</li>
                        <li class="list-el">Neglect, and/or a lack of mental stimulation early in life.</li>
                        <li class="list-el">Some people with learning disabilities have additional physical disabilities 
                            and/or sensory impairments.</li>
                        <li class="list-el">The mother becoming ill in pregnancy.</li>
                        <li class="list-el">Problems during the birth that stop enough oxygen getting to the brain.</li>
                        <li class="list-el">The unborn baby developing certain genes.</li>
                        <li class="list-el">The parents passing certain genes to the unborn baby that make having a learning 
                            disability more likely (known as inherited learning disability).</li>
                        <li class="list-el">Illness, such as meningitis, or injury in early childhood.</li>
                    </ul>
                    <p class="txt3">Sometimes there is no known cause for a learning disability.</p>
                    <p class="txt4">Some conditions are associated with having a learning disability, such as cerebral palsy. 
                        This is because people with these conditions are more likely to have one.</p>
                    <p class="txt5">Everyone with Down's syndrome, for example, has a form of learning disability, and so do many 
                        people with cerebral palsy. People with autism may also have learning disabilities, and around 30% of people 
                        with epilepsy have a learning disability.</p>
                </main>
                <div class="intro-img"></div>
            </div>
            <footer class="footer">
                <p class="page-num">4/13</p>
                <div class="footer-btns" id="footer-btns">
                    <a class="back-btn" href="/templates/pages/common/common.html" onclick="route()">back</a>
                    <a class="next-btn" href="/templates/pages/support/support.html" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <scripts src="/templates/index.js"></scripts>
    </body>
</html>