<html>
    <head>
        <link rel="stylesheet" href="/templates/pages/associated/associated.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <div class="section">
                <main class="intro-wrapper">
                    <h2 class="title">Learning Disabilities</h2>
                    <h1 class="title-sub">Associated health conditions</h1>
                    <p class="txt1">
                        Common associated health conditions for people with a learning disability include mental 
                        health problems, epilepsy, and being underweight or overweight.
                    </p>
                    <h4>Mental health</h4>
                    <p class="txt2">
                        In 2017/18 severe mental illness was 8.4 times more common in patients with a learning
                         disability than those without.
                    </p>
                    <p class="txt3">
                        In 2017/18, 13.3% of patients with a learning disability had an active diagnosis 
                        of depression, compared to 12.2% in 2014/15 (NHS Digital, 2019).
                    </p>
                    <h4>Epilepsy</h4>
                    <p class="txt4">
                        Research suggests that epilepsy is more common in adults with a learning disability 
                        than those without a learning disability; and is more common amongst men and those with 
                        a higher level of impairment (McGrother et al. 2006; Epilepsy Society, 2019 ; Robertson et al., 2015).
                    </p>
                    <p class="txt5">
                        Estimates vary but in a review of 38 studies, the pooled estimate of prevalence of 
                        epilepsy in people with a learning disability was 22% (Robertson et al., 2015).
                    </p>
                    <h4>Being underweight or overweight</h4>
                    <p class="txt6">
                        The proportion of people with a learning disability receiving body mass index (BMI) 
                        checks has increased from 58.3% in 2016/17 to 61.5% in 2017/18.
                    </p>
                    <p class="txt7">
                        Of those receiving BMI checks, 6.4% of patients with a recorded learning disability
                         were classified as underweight (BMI ≤18.4), this was higher than for those with no 
                         recorded learning disability (4.9%).
                    </p>
                    <p class="txt8">
                        Meanwhile, 37.5% of people with a learning disability were classified as obese, 
                        this was also greater than those without a learning disability (29.9%) (NHS Digital, 2019).
                    </p>
                    <h4>Dementia</h4>
                    <p class="txt6">
                        The rate of dementia is high in all people with a learning disability, but is particularly 
                        high in people with Down’s syndrome.
                    </p>
                    <p class="txt7">
                        In 2017/18, the prevalence rate for people with a learning disability aged 55-64 was 4.3%, 
                        compared to 0.3% of those with no learning disability.
                    </p>
                    <p class="txt8">
                        For ages 65-74 it was 5.9% for people with a learning disability, compared to 1.1% for 
                        those without.
                    </p>
                    <p class="txt9">
                        For those aged 75 and over it was 11.2% for people with a learning disability, 
                        compared to 8.7% for those without.
                    </p>
                    <h1 class="title-sub">Reasonable adjustments</h1>
                    <ul>
                        <li class="list-el">A lack of reasonable adjustments can be a barrier to accessing healthcare settings and to equal healthcare.</li>
                        <li class="list-el">The Confidential Inquiry into premature deaths of people with learning disabilities (CIPOLD) reviews showed 
                            the lack of reasonable adjustments provided to people with a learning disability (especially in accessing clinic appointments 
                            and investigations) as a contributory factor in a number of avoidable deaths.
                        </li>
                        <li class="list-el">•	Healthcare professionals have a legal duty to provide reasonable adjustments for disabled people (Public Health 
                            England, 2016). This can include providing easy-read information, avoiding medical jargon or longer appointment times.
                        </li>
                    </ul>
                </main>
                <div class="intro-img"></div>
            </div>
            
            <footer class="footer">
                <p class="page-num">13/13</p>
                <div class="footer-btns" id="footer-btns">
                    <a class="back-btn" href="/templates/pages/annual/annual.html" onclick="route()">back</a>
                    <a class="next-btn" href="" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <script src="/templates/index.js"></script>
    </body>
</html>