<html>
    <head>
        <link rel="stylesheet" href="/templates/pages/understanding/page1.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <div class="section">
                <main class="intro-wrapper">
                    <h2 class="title">Learning Disabilities</h2>
                    <h1 class="title-sub">Understanding Learning Disabilities</h1>
                    <p class="txt1">
                        In general, a learning disability constitutes a condition which affects learning and intelligence
                         across all areas of life, whereas a learning difficulty constitutes a condition which creates an 
                         obstacle to a specific form of learning, but does not affect the overall IQ of an individual. 
                         For example, Down’s syndrome is classed as a learning disability, whereas dyslexia is classed as 
                         a learning difficulty, in that it only affects an individual’s relationship to the processing of 
                         information, usually manifested in problems with reading, writing, and spelling.
                    </p>
                    <p class="txt2">
                        A learning disability is a permanent condition developing at the latest in early childhood, whereas 
                        mental illness (or a mental health problem) can develop at any time, and is not necessarily permanent. 
                        People can get better and resolve mental health problems with help and treatment.
                    </p>
                </main>
                <div class="intro-img"></div>
            </div>
            
            <footer class="footer">
                <p class="page-num">2/13</p>
                <div class="footer-btns" id="footer-btns">
                    <a class="back-btn" href="/templates/pages/intro/introduction.html" onclick="route()">back</a>
                    <a class="next-btn" href="/templates/pages/common/common.html" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <scripts src="/templates/index.js"></scripts>
    </body>
</html>