<html>
    <head>
        <link rel="stylesheet" href="/templates/pages/annual/annual.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <div class="section">
                <main class="intro-wrapper">
                    <h2 class="title">Learning Disabilities</h2>
                    <h1 class="title-sub">Annual health checks</h1>
                    <h3>Communication</h3>
                    <p class="txt1">
                        55.1% of patients with a learning disability received an annual health check in 2017-18, an increase 
                        from 49.7% in 2016-17 (NHS Digital 2019).
                    </p>
                    <ul>
                        <li class="list-el">Flu immunisation</li>
                    </ul>
                    <p class="txt2">
                        44.9% of patients with a learning disability received flu immunisations in 2017-18, a small 
                        increase from 41.9% in 2016-17 to (NHS Digital 2019).
                    </p>
                    <ul>
                        <li class="list-el">Cancer screening</li>
                    </ul>
                    <p class="txt3">
                        In 2017/18, around half (52.5%) of women with a learning disability had been screened for 
                        breast cancer, compared to 68% of women without a learning disability.
                    </p>
                    <p class="txt4">
                        Meanwhile, less than a third (31.2%) of eligible women with a learning disability had 
                        received cervical smear tests, in contrast to 73.2% of women with no learning disability.
                    </p>
                    <p class="txt5">
                        Of those eligible for a colorectal cancer screening, 77.8% of people with a learning 
                        disability were screened, compared to 83.7% of those without.
                    </p>
                </main>
                <div class="intro-img"></div>
            </div>
            
            <footer class="footer">
                <p class="page-num">12/13</p>
                <div class="footer-btns" id="footer-btns">
                    <a class="back-btn" href="/templates/pages/access/access.html" onclick="route()">back</a>
                    <a class="next-btn" href="/templates/pages/associated/associated.html" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <script src="/templates/index.js"></script>
    </body>
</html>