<html>
    <head>
        <link rel="stylesheet" href="/templates/pages/access/access.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <main class="section">
                <h1>Access to healthcare</h1>
                <p class="txt1">
                    A number of barriers are stopping people with a learning disability from 
                    getting good quality healthcare.
                </p>    
                <p>
                    These barriers include: 
                </p>
                <ul class="lst-container">

                    <li class="list-el">A lack of accessible transport links.</li>

                    <li class="list-el">Patients not being identified as having a learning disability.</li>

                    <li class="list-el">Staff having little understanding about learning disability.</li>

                    <li class="list-el">Failure to recognise that a person with a learning disability is unwell.</li>

                    <li class="list-el">Failure to make a correct diagnosis.</li>

                    <li class="list-el">Anxiety or a lack of confidence for people with a learning disability.</li>

                    <li class="list-el">Lack of joint working from different care providers.</li>

                    <li class="list-el">Not enough involvement allowed from carers.</li>

                    <li class="list-el">Inadequate aftercare or follow-up care.</li>
                </ul>
            </main>
            <footer class="footer">
                <p class="page-num">11/13</p>
                <div class="footer-btns" id="footer-btns">
                    <a class="back-btn" href="/templates/pages/inequalities/inequalities.html" onclick="route()">back</a>
                    <a class="next-btn" href="/templates/pages/annual/annual.html" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <script src="/templates/index.js"></script>
    </body>
</html>