<html>
    <head>
        <link rel="stylesheet" href="/templates/pages/treatment/treatment.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <main class="section">
                <h1>Treatment/Management</h1>
                <p class="txt1">
                    Whilst mental health problems can be treated through therapy, social support, 
                    medication, or a combination of these. 
                <p>
                    People with learning disabilities are not
                     ‘treated’ but rather receive support which enables them to most effectively and 
                     happily lead their lives. 
                </p>
                </p>
                <div class="chart">
                    <img class="chart-img" src="/templates/images/treatment.jpg"/>
                </div>
            </main>
            <footer class="footer">
                <p class="page-num">6/13</p>
                <div class="footer-btns">
                    <a class="back-btn" href="/templates/pages/support/support.html" onclick="route()">back</a>
                    <a class="next-btn" href="/templates/pages/legistration/legistration.html" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <scripts src="/templates/index.js"></scripts>
    </body>
</html>