<html>
    <head>
        <link rel="stylesheet" href="/templates/pages/harm/harm.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <header class="header"></header>
            <div class="section">
                <main class="intro-wrapper">
                    <h2 class="title">Learning Disabilities</h2>
                    <h1 class="title-sub">Patients at risk of HARM</h1>
                    <p class="txt1">
                        People with learning disabilities comprise of a highly vulnerable section of the society, who 
                        have limited access to health care facilities / services offered to them. They are often faced 
                        with obstacles and challenges while copying with grave situations such as loss and bereavement 
                        of loved ones, personal illness, death etc.
                    </p>
                    <p class="txt2">
                        This, in turn, tends to aggravate their situation and increase their dependence on the society 
                        – which includes their friends, family and loved ones as well as the community in general. 
                        They are known to have been ignored persistently in terms of providing services in the need of 
                        personal illness, death, and other challenging life situations, thus increasing their 
                        vulnerability all the more.
                    </p>
                    <p class="txt3">What is risk?</p>
                    <p class="txt4">‘risk’ is defined as meaning a hazard, a dangerous, exposure to mischance or 
                        peril, as verb it also similar which means ”hazard, to danger, to expose to the chance of 
                        injury or loss”. Risk is closely linked to dangerousness, resulting in harm which seems to be 
                        agreed means harm to self or others and extend of harm which constitutes a risk in various
                        situations especially adult with learning disabilities.</p>
                </main>
                <div class="intro-img"></div>
            </div>
            
            <footer class="footer">
                <p class="page-num">8/13</p>
                <div class="footer-btns" id="footer-btns">
                    <a class="back-btn" href="/templates/pages/legistration/legistration.html" onclick="route()">back</a>
                    <a class="next-btn" href="/templates/pages/barriers/barriers.html" onclick="route()">next</a>
                </div>
            </footer>
        </div>
        <scripts src="/templates/index.js"></scripts>
    </body>
</html>