<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <div >
                <main class="main-wrapper">
                    <h1 class="title">Learning Disabilities</h1>
                    <h2 class="desc-txt">Interactive Course</h2>
                </main>
                <div class="call">
                    <a href="/templates/pages/intro/introduction.html" onclick="routes()" class="action-btn">Get Started</a>
                </div>
            </div>
        </div>
        <script src="/templates/index.js"></script>
    </body>
</html>